  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <img src="../../assets//img//connect-logo2.png" />
          <h5>Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse
            molestie consequat, vel illum
            dolore eu feugiat nulla facilisis.</h5>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Important Links</h6>
          <p>About Us</p>
          <p>Support</p>
          <p>Contact Us</p>
          <p>Our Products</p>
          <p>Payment Methods</p>

        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Useful Links</h6>
          <p>Cases</p>
          <p>White Papers</p>
          <p>FAQ</p>
          <p>Blog</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Get in Touch</h6>
          <p>Email: contact@conneqt.com</p>
          <p>Phone: 469-844-8261</p>
        </div>
      </div>
    </div>

</footer>

