<div class="purchase">
  <h3>Or purchase a license</h3>
  <p>Contact your local reseller to request a license trial or purchase Conneqt</p>
  <h4>Global Reseller</h4>
  <div class="boxracer">
    <h5 class="black-style-left">John Appleseed - Authorized Reseller</h5>
    <h5 class="red-style">Company Website</h5>
    <mat-icon class="red-style">input</mat-icon>
    <h5 class="black-style-right">469-844-8261</h5>
    <mat-icon class="black-style-right">phone</mat-icon>
  </div>

  <h4>Brazil</h4>

  <div class="boxracer">
    <h5 class="black-style-left">John Appleseed - Authorized Reseller</h5>
    <h5 class="red-style">Company Website</h5>
    <mat-icon class="red-style">input</mat-icon>
    <h5 class="black-style-right">469-844-8261</h5>
    <mat-icon class="black-style-right">phone</mat-icon>
  </div>

  <div class="boxracer">
    <h5 class="black-style-left">John Appleseed - Authorized Reseller</h5>
    <h5 class="red-style">Company Website</h5>
    <mat-icon class="red-style">input</mat-icon>
    <h5 class="black-style-right">469-844-8261</h5>
    <mat-icon class="black-style-right">phone</mat-icon>
  </div>

  <div class="boxracer">
    <h5 class="black-style-left">John Appleseed - Authorized Reseller</h5>
    <h5 class="red-style">Company Website</h5>
    <mat-icon class="red-style">input</mat-icon>
    <h5 class="black-style-right">469-844-8261</h5>
    <mat-icon class="black-style-right">phone</mat-icon>
  </div>
</div>
