@media screen and (min-width:320px) {
  .purchase {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    position: relative;
    padding: 50px;
    background-color: white;
    h3 {
      font-size: 42px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 44px;
      padding: 10px;
    }
    h4 {
      font-size: 32px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 44px;
      padding: 10px;
    }
    p{
      font-size: 34px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 44px;
      padding: 10px;
    }
    .boxracer {
      max-width: 900px;
      height: auto;
      min-height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 0 auto;
      padding: 10px;
      h5.black-style-left {
        width: 500px;
        font-size: 18px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 34px;
        padding: 10px;
        color: black;
        display: none;
      }
      h5.red-style {
        font-size: 18px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 34px;
        padding: 10px;
        color: red;
      }
      h5.black-style-right {
        font-size: 18px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 34px;
        padding: 10px;
        color: black;
        display: none;
      }
      mat-icon.red-style {
        margin-top: 0;
        border-radius: 15px;
        color: red;
        padding: 1px;
        display: inline-block;
        height: 35px;
        display: block;
      }
      mat-icon.black-style-right {
        margin-top: 0;
        border-radius: 15px;
        color: black;
        padding: 1px;
        display: inline-block;
        height: 35px;
        display: none;
      }
    }
  }

}

@media screen and (min-width:768px) {
  .purchase {
    .boxracer {
      margin-bottom: 10px;
      border: 1px solid black;
      h5.black-style-left {
        display: block;
      }
      h5.red-style {
        display: block;
      }
      h5.black-style-right {
        display: block;
      }
      mat-icon.red-style {
        display: block;
        margin-right: 20px;
      }
      mat-icon.black-style-right {
        display: block;
        margin-right: 10px;
      }
    }
  }

}


