@import '../../assets/scss/styles.scss';

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: white;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  top: 0;
  right: 0;
  height: 100%;
}

::ng-deep .cdk-overlay-pane{
  height: 100%;
  top: 0 !important;
  right: 0 !important;
}

::ng-deep .mat-menu-panel {
  min-width: 200px !important;
  height: 100vh;
  max-height: 100% !important;
}
