<mat-card>
  <div class="ContentLeft">
    <img src="../../assets/img/tv.png" />
  </div>
</mat-card>

<mat-card>
  <div class="ContentRight">

    <h3>Your team always connected</h3>
    <br>
    <mat-icon>done</mat-icon>
    <p>One on one and group meetings</p>
    <br>
    <mat-icon>done</mat-icon>
    <p>Record Meetings</p>
    <br>
    <mat-icon>done</mat-icon>
    <p>Screen share</p>
    <br>
    <mat-icon>done</mat-icon>
    <p>Share control over screens</p>
    <br>
    <mat-icon>done</mat-icon>
    <p>Schedule and send reminders</p>

  </div>
</mat-card>
