@media screen and (min-width:320px) {
  .content-trial {
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    display: block;
    position: relative;
    padding: 20px;
    background-color: #f2f1ee;
    h3 {
      font-size: 32px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 34px;
    }
    p{
      font-size: 24px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 34px;
    }
    .trial {
      width: 100%;
      height: auto;
      padding: 40px;
      min-height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      input{
        width: auto;
        padding: 10px;
        border: 0 transparent;
        border-radius: 20px;
        background-color: red;
      }
    }

  }

}

@media screen and (min-width:768px) {

}
